<% if @date %>
<% @month = @date.mon %>
<% @year = @date.year %>
<% else %>
<% @date = Date.today %>
<% end %>

<h3><%= @date.strftime("%B %Y") %></h3>


<%= link_to 'Previous Month', :date => 1.month.ago(@date).beginning_of_month %> |
<%= link_to 'Next Month', :date => 1.month.since(@date).beginning_of_month %>

<% calendar_for(eventlist, :month => @month, :year => @year) do |t| %>
   <%= t.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat') %>
       <% t.day :class => "day" do |day, events| %>
       <div class="daynumber"><span class="innerday"><%= day.day %></span></div>
       <% events.each do |event| %>
        <div class="event">
          <%= link_to event.name, event %><br/>
          <%=h event.start.to_datetime.strftime("%k:%M") %> - 
          <%=h event.end.to_datetime.strftime("%k:%M") %><br/>
          <%=h event.location %>
       </div>
       <% end %>
   <% end %>
<% end %>
