  <%= f.error_messages %>
  <p>
    <%= f.label :list_id %><br />
    <%= collection_select("event", "list_id", @lists, "id", "name") %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
