<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Start</th>
    <th>End</th>
  </tr>

<% for event in @events %>
  <tr valign="top">
    <td class="nowrap"><%=h event.name %></td>
    <td><%= simple_format(event.description) %></td>
    <td class="nowrap"><%=h event.location %></td>
    <td class="nowrap"><%=h event.start.to_datetime.strftime("%a, %b
    %e - %k:%M") %></td>
    <td class="nowrap"><%=h event.end.to_datetime.strftime("%a, %b
    %e - %k:%M") %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td class="nowrap"><%= link_to 'Send Mail', :controller => "events", :action => "email", :id => event %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Lists', :controller => "lists" %> | 

<%= link_to 'New event', new_event_path %>
