<% @title = "#{@event.name} for #{@event.start.to_datetime.strftime("%a, %B %e @ %l %P")}" %>
<p>
  <h1><%=h @title %></h1>
  <h3><%=h @event.name %></h3>
  <p>
    <%= simple_format(@event.description) %>
  </p>
  <table>
    <tr>
      <th>Location</th><td><%=h @event.location %></td></tr>
      <% if (@event.end - @event.start < 1.day) %>
         <tr><th>Date</th><td><%=h @event.start.to_datetime.strftime("%a, %B %e") %></td></tr>
         <tr><th>Start Time</th><td><%=h @event.start.to_datetime.strftime("%l %P") %></td></tr>
         <tr><th>End Time</th><td><%=h @event.end.to_datetime.strftime("%l
         %P") %></td></tr>
         <% end %>
    </table>
  <p>
    Email will be sent to <b><%=h @event.list.address %></b> from
    <b><%=h @event.list.from %></b>
  </p>

</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
