<% @title = "#{@event.name} for #{@event.start.to_datetime.strftime("%a, %B %e @ %l:%M %P")}" %>
<% @alternate = true %>

 <div class="event">
   <h1><%=h @event.name %></h1>
   <hr>
     <div class="details">
       <table class="event_time">
         <tr>
           <% if (@event.end - @event.start < 1.day) %>
              <tr><th>Date</th><td><%=h @event.start.to_datetime.strftime("%a, %B %e") %></td></tr>
              <tr><th>Start Time</th><td><%=h @event.start.to_datetime.strftime("%l:%M %P") %></td></tr>
              <tr><th>End Time</th><td><%=h @event.end.to_datetime.strftime("%l:%M
          %P") %></td></tr>
            <% else %>
              <tr><th>Starts</th><td><%=h @event.start.to_datetime.strftime("%a, %B %e - %l:%M %P") %></td></tr>
              <tr><th>Ends</th><td><%=h @event.end.to_datetime.strftime("%a, %B %e - %l:%M %P") %></td></tr>
           <% end %>
         </table>
           
           <div class="description">
             <%= textilize(@event.description) %>
           </div>

           <div class="location">           
             <h2>Event Location</h2>
             <%=h @event.location.name %>
             <%= textilize(@event.location.address) %>

             <%= @map.to_html %>
             <div style="width: 800px; height: 500px;">
               <%= @map.div %>
             </div>

           </div>

           <div class="contact">
               Email will be sent to <b><%=h @event.list.address %></b> from
           <b><%=h @event.list.from %></b>
           </div>

           <div class="alternate">
             Also available as 
             <%= link_to 'iCalendar', :action => :show, :format => :ics %>, 
           <%= link_to 'XML', :action => :show, :format => :xml %>,
           and <%= link_to 'JSON', :action => :show, :format => :json %>
           
         </div>
           
         </div>
        

</div>

<% if current_user and current_user.has_role?("admin") %>
<%= link_to 'Edit', edit_event_path(@event) %> | 
<%= link_to 'Copy', copy_event_path(@event) %> |
<%= link_to 'Preview', copy_event_path(@event) %> |
<%= link_to 'Destroy', @event, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', :action => "index", :date => @event.start.to_date.beginning_of_month %>
