<h1>Editing boiler_plate</h1>

<% form_for(@boiler_plate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @boiler_plate %> |
<%= link_to 'Back', boiler_plates_path %>
