<h1>Listing locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Address</th>
  </tr>

<% for location in @locations %>
  <tr>
    <td><%=h location.name %></td>
    <td><%=h location.description %></td>
    <td><%=h location.lat %></td>
    <td><%=h location.lng %></td>
    <td><%=h location.address %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New location', new_location_path %>
