<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @location.description %>
</p>

<p>
  <b>Lat:</b>
  <%=h @location.lat %>
</p>

<p>
  <b>Lng:</b>
  <%=h @location.lng %>
</p>

<p>
  <b>Address:</b>
  <%=h @location.address %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
