<h1><%=h @location.name %></h1>
<%= simple_format(h(@location.description)) %>
<%= simple_format(h(@location.address)) %>

<%= @map.to_html %>
<div style="width: 800px; height: 500px;">
  <%= @map.div %>
</div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
