<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon"
      href="http://planet.mhvlug.org/images/favicon16x16.png"
      type="image/png">
  <title>
    <%= @title %>
  </title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'mhvlug' %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= calendar_date_select_includes "red" %>
  <%= stylesheet_link_tag 'default' %>
  <% if @alternate %>
  <%= @alternate %>
  <% end %>
</head>

<body>
<div id="header">
<div id="logo"><a href="http://cal.mhvlug.org"><img src="http://planet.mhvlug.org/images/logo-red.png"
                                                    alt="MHVLUG Events"
                                                    border="0">
      MHVLUG Events</a></div>
</div>
<!-- begin sidebar section -->
<div id="sidebar">

<div class="empty">
</div>

<div class="sidepanel">
<h1>Admin</h1>
<ul>
  <% if not current_user %>
  <li><%= link_to 'Login', :controller => :sessions, :action => :new %></li>
  <% else %>
  <% if current_user.has_role?("admin") %>
  <li><%= link_to 'Events', :controller => :events %></li>
  <li><%= link_to 'Lists', :controller => :lists %></li>
  <% end %>
  <li><%= link_to 'Logout', :controller => :sessions, :action => :destroy %></li>
  <% end %>
</ul>
</div>

<div class="sidepanel">
<h1>About</h1>
<p>
  The MHVLUG Calendar was originally created as the sample application for my
  <a href="http://mhvlug.org/MonthlyMeetings/2009/02">Ruby on
  Rails</a> talk for MHVLUG, and to simplify my monthly meeting
  announcements.  
  It is made available under the Apache 2.0 License for anyone to
  build upon.
</p>
<p>
  For more information, as well as full source code for the project,
  see
  the <a href="http://projects.dague.net/projects/show/eventmailer">Event
  Calendar project website</a>.  If you run into a bug or feature that
  you would like, please feel free to create a redmine account there
  and file that bug.
</p>
</div>
</div>
<!-- end sidebar section -->
<div id="main">
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>
  
<!-- end main section -->
</div>
</body>
</html>
